@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: outside none none;
}

footer {
    float: left;
    /*margin-top: 50px;*/
    width: 100%;
    height: 250px;
    background: #333;
}

#content {
    width: 100%;
    height: 160px;
}

#logo {
    float: left;
    width: 50%;
    height: 120px;
}

#concact-method {
    float: left;
    width: 50%;
    height: 120px;
}

#weibo {
    position: relative;
    top: 50%;
    left: 50%;
    float: left;
    width: 40px;
    height: 40px;
    background: url("../images/weibo.svg") no-repeat;
    background-size: 30px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: all .3s;
}

#wechat {
    position: relative;
    top: 50%;
    left: 70%;
    float: left;
    width: 40px;
    height: 40px;
    background: url("../images/wechat.svg") no-repeat;
    background-size: 30px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: all .3s;
}


#copyright {
    line-height: 30px;
    clear: left;
    margin: 0 auto;
    width: 980px;
    height: 120px;
    text-align: center;
}

a {
    font-size: 15px;
    color: #999;
    text-decoration: none;
}

p {
    margin-bottom: 0px;
}

a:hover {
    color: #31c27c;
    text-decoration: none;
}

.copyright-span {
    margin-left: 30px;
}

#weibo-pop {
    display: none;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    top: 40px;
    right: 30px;
}

#wechat-pop {
    position: relative;
    top: 40px;
    right: 30px;
    display: none;
    width: 100px;
    height: 100px;
    z-index: 2;
}