@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    background: none;
    list-style: none;
}

#index-show {
    background-color: #0e8b61;
}

/*albums*/
.row{
    float: left;
    width: 100%;
}

.PhotoFrame{
    float: left;
    width: 50%;
    overflow: hidden;
}

.Desc{
    padding-top: 8em;
    float: left;
    width: 50%;
}

.Desc h4{
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
    margin-bottom: 0.8em;
}

.Desc p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #999;
    line-height: 2em;
    font-weight: 200;
}

