@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    background: none;
    list-style: none;
}

#albums {
    float: left;
}

.row{
    float: left;
    width: 100%;
}

.PhotoFrame{
    float: left;
    width: 50%;
    overflow: hidden;
}

.Desc{
    padding-top: 8em;
    float: left;
    width: 50%;
}

.Desc h4{
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
    margin-bottom: 0.8em;
}

.Desc p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #999;
    line-height: 2em;
    font-weight: 200;
}

#music-box {
    width: 100%;
    height: 500px;
    padding: 100px 0px;
}

#music-left {
    float: left;
    width: 40%;
    padding-left: 10%;
}

#music-left h2 {
    color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    margin: 0 0 30px 0;
    font-size: 30px;
}

#music-left p {
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    color: #7f7f7f;
}

#music-right {
    float: left;
    width: 50%;
    height: 300px;
}
